.questionBox__container {
  padding: 5px 10px;
  text-align: left;
}

.questionBox__container p {
  transition: opacity 300ms linear;
}

.questionBox__active {
  opacity: 1;
  height: auto;
}

.questionBox__hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.questionBox__title-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.questionBox__title-actions h3 {
  cursor: pointer;
  margin-right: 20px;
}

.questionBox__actions {
  flex: none;
}

.questionBox__actions div {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
