.app__container {
  text-align: center;
}

.app__header {
  padding: 15px;
  background-color: #f2ede7;
}

.app__content {
  padding: 10px;
}

.app__actions-buttons {
  border: 1px #323232 dotted;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 10px;
}

.app__questions-list {
  max-width: 600px;
  margin: 0 auto 35px;
}

.app__no-questions-box {
  border: 1px solid #8b0000;
  padding: 15px;
  color: #8b0000;
  background-color: rgba(139, 0, 0, 0.3);
  border-radius: 4px;
  max-width: 600px;
  margin: 50px auto;
}

@media (min-width: 600px) {
  .app__actions-buttons {
    padding: 20px 50px;
    text-align: right;
  }
}

@media (min-width: 476px) {
  .app__questions-list {
    margin: 30px auto;
  }
}
