.app__container {
  text-align: center;
}

.app__header {
  padding: 15px;
  background-color: #F2EDE7;
}

.app__title {
  width: 100%;
  background-color: #323232;
  height: 80px;
  text-align: center;
}

.app__title h1 {
  color: white;
  padding: 16px 0;
  margin: 0;
}

.app__form {
  margin-top: 30px;
  display: inline-block;
  text-align: left;
  background-color: rgb(92 141 165 / 15%);
  padding: 10px 20px 20px;
  border-radius: 10px;
}

.app__amount-input {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.app__form-error {
  display: block;
  margin: 10px 0;
  color: #8b0000;
  font-size: 12px;
}

.app__dropdowns-box h3 {
  font-size: 20px;
}

.app__form-loading {
  color: #323232;
  display: block;
  text-align: center;
  margin: 30px auto 10px;
  width: 100%;
}

.app__form-submit-button {
  background-color: #323232;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  border: none;
  font-weight: bold;
  margin: 30px auto 10px auto;
  display: block;
  cursor: pointer;
}

.app__results-box {
  margin-top: 50px;
}

.app__content {
  padding: 20px;
}

@media (min-width: 600px) {
  .app__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .app__form {
    width: 30%;
  }

  .app__results-box {
    width: 70%;
  }
}
